
    {{#each this}}
    <li class="country-list__item">
        <img class="country-list__preview_pic" src="{{flags.svg}}" alt="flag{{name.official}}"  width="25">
        <h3 class="country-list__preview_title" data-name="{{name.official}}">{{name.official}}</h3>
    </li>
    {{/each}}
